.row
  div(class="col-xs-12 col-md-8 col-md-offset-2")
    div(class="controls row")
      div(class="col-xs-12 col-sm-6 col-md-4")
        select.form-control
          option(selected=true) {{ 'SELECT_FILTER' | translate }}
      div(class="col-xs-12 col-sm-6 col-md-4")
        .input-group
          input.form-control(type="text", placeholder="{{ 'SEARCH' | translate }}")
          span.input-group-addon
            i(class="glyphicon glyphicon-search")
    .book-list
      .book-item(ng-repeat="book in ctrl.books")
        img(ng-src="{{book.imageUrl || ctrl.defaultImage }}")
        h5 {{book.name}}
        {{book.author}}

