.row
  .col-md-8.col-md-offset-2
    a(ui-sref='dashboard') {{ 'BACK' | translate }}
    .book-details.row
      .col-sm-4
        img(src='{{ ctrl.book.imageUrl || ctrl.defaultImage }}')
      .col-sm-8
        .book-info
          h3 {{ ctrl.book.name }}
          p {{ ctrl.book.author }}
          {{ ctrl.book.year }} 
          br
          {{ ctrl.book.publisher }}
        button.btn.btn-primary {{ 'RENT' | translate }}
    hr
    h5 {{ 'NEW_COMMENT' | translate}}
    form(name='new_comment_form', novalidate=true)
      .form-group
        label {{ 'COMMENT' | translate }}
        textarea.form-control(rows='3', maxlength='255', required=true, ng-model='ctrl.comment')
        .alert.alert-danger(ng-show='ctrl.savingErrorMsg')
          {{ ctrl.savingErrorMsg }}
      button.btn.btn-primary(ng-click='ctrl.saveComment(comment)', ng-disabled='!ctrl.comment.length') {{ 'SEND' | translate }}
    h5 {{ 'COMMENTS' | translate }}
    p(ng-show='!ctrl.comments') {{ 'NO_COMMENTS' | translate }}
    .media(ng-repeat='comment in ctrl.comments')
      .media-left
      .media-body
        h5.media-heading {{ comment.user.name + ' ' + comment.user.lastname }}
        strong {{ comment.createdAt | date: 'short' }}
        p {{ comment.comment }}
