doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='stylesheets/style.css',rel='stylesheet')
  body
    div(id='product')
      img(src='img/phone.png', class='show-on-big')
      img(src='img/separador.png', class='show-on-big')
      img(src='img/tcg_logo.png')
    div(id='features')
      ul
        li
          img(src='img/ic_list.png')
          h4 Keep track of your money
          p See all your debts and all your friends debts towards you.
        li
          img(src='img/ic_reminder.png')
          h4 Generate reminders
          p Get reminded of who owes you money or who you money to.
        li
          img(src='img/ic_safe.png')
          h4 No internet needed
          p All your debts are kept safe in your phone.
    div(id='footer')
      form
        h2 Get info on new updates
        input(type="text")
        button Subscribe