#product-container
  div(id='product')
    img(src='assets/images/phone.png', class='show-on-big')
    img(src='assets/images/separador.png', class='show-on-big')
    img(src='assets/images/tcg_logo.png')
  div(id='features')
    ul
      li
        img(src='assets/images/ic_list.png')
        h4 Keep track of your money
        p See all your debts and all your friends debts towards you.
      li
        img(src='assets/images/ic_reminder.png')
        h4 Generate reminders
        p Get reminded of who owes you money or who you money to.
      li
        img(src='assets/images/ic_safe.png')
        h4 No internet needed
        p All your debts are kept safe in your phone.