@media (min-width: $breakpoint-tablet) {
  .show-on-big{
    display: inline-block;
  }  

  div#features{
    ul{
      li{
        margin: 0px 10px;
        width: calc((100% - 60px) / 3);
      }
    }
  }
}
