doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='style.css',rel='stylesheet')
	body
		div
			img(src='tcg_logo.png')
			hr(class='hide-on-small')
			img(src='phone.png', class='hide-on-small')