doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='style.css',rel='stylesheet')
	body
		div
			img(src='img/phone.png', class='hide-on-small')
			img(src='img/separador.png', class='hide-on-small')
			img(src='img/tcg_logo.png')