$breakpoint-tablet: 768px;
$orange: #F5C85F;
$gray-bg: #EEE;
$dark-gray-text: #111;
$gray-text: #999;
$green-color: #a5cd39;
$font: 'PT Sans', sans-serif;

body {
  margin: 0;
}

#product-container {
  margin: 0;
  font-family: $font;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 90%;
}

.show-on-big {
  display: none;
}

.navbar.navbar-default {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    padding-top: 0;
  }
}

.valign-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .valigned {
    margin: 0 auto;
  }
}

.green-color {
  color: $green-color;
}
